include ../components/head/head

doctype html
html(lang="ru")
	head
		+head({
			"title": "Главная",
			"description": "Главная страница",
			"style_page": "styles/index.css"
})

body.main-page
	header
		header-container
			header-logo
			form
				input(type="text" placeholder='Поиск ортоп.товаров, мед. техники' class="search")

			div.adress 
				img(src="img/content/adress.png")
				p Нижний Новгород
			div.time
				p Ежедневно<br> с 8 до 17
			div.entrance
				img(src="img/content/fill.png")
				a(href="#") Вход
			div.basket
				img(src="img/content/basket.png")
				a(href="#") 2690
		header-bottom 
			div.catalog 				
				a КАТАЛОГ
				img(src="img/content/arrow.png")
			div.for-buyers
				a Покупателям
			div.delivery
				a Пункты выдачи
			div.telephone
				img(src="img/content/tel.png")
				p 8-900-345-00-55
			div.call 
				a Заказать <br>звонок
			div.choice
				a Подбор по <br>заболеванию

	main
		//- div.image 
		section-items.red
			section-title
				h2 Лучшая цена
			block-for-items
				item
					.item-img
						img(src="img/content/clock.png")
					p Часы-пульсометры Beurer PM16
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/cow.png")
					p Компрессорный небулайзер (ингалятор) CN-HT 05 "Джино"
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/tonometer.png")
					p Тонометр Microlife BP A6 PC
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/massage.png")
					p Массажёр антицеллюлитный Cellules MD
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
		section-items.green
			section-title
				h2 ТОВАРЫ НОВИНКИ
			block-for-items
				item
					.item-img
						img(src="img/content/clock.png")
					p Часы-пульсометры Beurer PM16
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/wet.png")
					p Ультразвуковой увлажнитель Ballu UHB-190
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/massage.png")
					p Массажёр антицеллюлитный Cellules MD
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/tonometer.png")
					p Тонометр Microlife BP A6 PC
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ	
		section-items.blue
			section-title
				h2 Самое популярное
			block-for-items
				item
					.item-img
						img(src="img/content/tonometer.png")
					p Тонометр Microlife BP A6 PC
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/massage.png")
					p Массажёр антицеллюлитный Cellules MD
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/clock.png")
					p Часы-пульсометры Beurer PM16
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/mash.png")
					p Меш-небулайзер B.Well WN-114 child
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ				
							
		footer
			p Просто отступы снизу