include ../components/head/head
include ../components/header/header

doctype html
html(lang="ru")
	head
		+head({
			"title": "Главная",
			"description": "Главная страница",
			"style_page": "styles/index.css"
})

body.main-page
	+header()
	main
		//- div.image 
		section-items.red
			section-title
				h2 Лучшая цена
			block-for-items
				item
					.item-img
						img(src="img/content/clock.png")
					p Часы-пульсометры Beurer PM16
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/cow.png")
					p Компрессорный небулайзер (ингалятор) CN-HT 05 "Джино"
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/tonometer.png")
					p Тонометр Microlife BP A6 PC
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/massage.png")
					p Массажёр антицеллюлитный Cellules MD
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
		section-items.green
			section-title
				h2 ТОВАРЫ НОВИНКИ
			block-for-items
				item
					.item-img
						img(src="img/content/clock.png")
					p Часы-пульсометры Beurer PM16
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/wet.png")
					p Ультразвуковой увлажнитель Ballu UHB-190
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/massage.png")
					p Массажёр антицеллюлитный Cellules MD
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/tonometer.png")
					p Тонометр Microlife BP A6 PC
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ	
		section-items.blue
			section-title
				h2 Самое популярное
			block-for-items
				item
					.item-img
						img(src="img/content/tonometer.png")
					p Тонометр Microlife BP A6 PC
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/massage.png")
					p Массажёр антицеллюлитный Cellules MD
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/clock.png")
					p Часы-пульсометры Beurer PM16
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ
				item
					.item-img
						img(src="img/content/mash.png")
					p Меш-небулайзер B.Well WN-114 child
					add-to-compare
						p Добавить к сравнению
					price 3 390 р.
					button.buy КУПИТЬ			
		section-with-widget
			section.text
				h2 О КОМПАНИИ
				p Современный мир стал настолько стремителен и беспощаден к тем, кто отстает и не успевает. Мы настолько заняты, что нам некогда посвятить себя своему же здоровью. У нас нет времени вылечить болезнь. Мы живем на бегу. Едим на ходу. Мы даже лечимся на ходу, употребляя таблетки горстями.
				p Но неужели только таблетки сделают нас здоровыми? Кто-то должен сказать стоп! Кто-то должен сказать, что таблетки нужны, но не везде и не всегда. Да, мы не можем заменить все таблетки, но сократить количество и норму потребления нам удастся всегда! И разве это не здорово? Разве это не результат? Выбор есть всегда!
				p Аптека без таблеток — это больше, чем компания по продаже домашней медтехники, это философия здоровья без таблеток. В нашем арсенале представлено множество приборов применяемых в профессиональной медицине. Многие российские и зарубежные производители давно уже «одомашнили» и «приручили» профессиональные приборы физиолечения, сделав их доступными по цене и понятными на языке бытовой техники.
				button.button-details(onclick="onShowMoreClick(this)") Подробнее
			.widget
				#vk_groups

		banner.pig
			h2 Почему покупают именно у нас?
			p Мы оптовая компания, поэтому мы держим в рознице невысокие цены		
	footer
		.footer-body
			nav.footer-menu
				ul
					li: a(href='#') О компании
					li: a(href='#') О магазине
					li: a(href='#') Отзывы
					li: a(href='#') Полезные статьи
					li: a(href='#') Гарантия и возврат
					li: a(href='#') Оплата и доставка 
					li: a(href='#') Контакты
			.footer-info-wrapper
				callback
					a(href='#') 8 906 857 64 73
					span Звонок бесплатный
				share-links 
					p Поделиться
					share-container
						.link.twitter
						.link.vk
						.link.fb
			payment
				p Принимаем к оплате
				payment-container
					.link.mastercard
					.link.visa
		footer-bottom
			.copyright Lekor, товары для здоровья и красоты. © 2017
			a(href="#").developer Разработка — mylovelycat

script(src="js/index.js" defer)
//script(src="//vk.com/js/api/openapi.js?149")
//script.
//	VK.Widgets.Group("vk_groups", {mode: 3, width: "auto",  color3: '5E81A7'}, 105166553);