include ../components/head/head

doctype html
html(lang="ru")
  head
    +head({
      "title": "Таблица 'Кассир'", 
      "description": "",
      "style_page": "styles/table-kassir.css"
})

body.table-page
  header
    header-title Мобильный кассир
    header-menu
      a(href="#").kassir.active Кассиры
      a(href="#").operation Операции
      a(href="#").download Скачать приложение для кассира
  main
    table
      tr
        th №
        th Логин  и пароль
        th.name Имя кассира
        th Терминал
        th.unmount-phone Привязка к телефону
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td.unmount-phone
          a.active
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td.unmount-phone
          a
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан
      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан

      tr
        td 1
        td 
          output Мой логин
          output Мой пароль
        td 
          textarea
        td
          select ghjkl    
            option Мой магазин 1 - Мой терминал 1 
            option Мой магазин 1 - Мой терминал 2
            option Мой магазин 1 - Мой терминал 3
            option Мой магазин 1 - Мой терминал 4
            option Мой магазин 1 - Мой терминал 5
            option Мой магазин 1 - Мой терминал 6
        td
          a Не привязан

