@import "helpers/_postcss-reset.scss";
@import "./fonts/fonts.scss";
@import "helpers/_variables.scss";
@import "helpers/_base.scss";

$color-black: #000000;
$color-black-light: #4f4f4f;
$color-orange: #ffd87b;
$color-gray-light: rgba(79, 79, 79, 0.36);

// background-image: url("../img/content/logo.svg");
// background-repeat: no-repeat;
// background-position: 50%;
// background-size: contain;

body {
  font-family: "Museo Sans", sans-serif;
}

header {
  display: flex;
  background-color: white;
  padding-left: 7.2vw;
  padding-right: 7.2vw;
  z-index: 1;
  align-items: center;
  // font-weight: 700;
  padding-top: 20px;
  padding-bottom: 23px;

  &-title {
    font-weight: 700;
    display: block;
    font-size: 24px;
    margin-right: 70px;
  }
  &-title + header-menu {
    // margin-left: 17.4vw;
    margin-left: auto;
    margin-right: 10px;
  }
  &-menu {
    // align-items: center;
    display: flex;

    .kassir + .operation {
      // margin-left: 4.645vw;
    }

    .operation + .download {
      // margin-left: 4.36vw;
    }

    a {
      text-transform: uppercase;
      color: $color-gray-light;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.05em;

      & + a {
        margin-left: 51px;
      }

      &.active {
        color: $color-black-light;
      }
    }
  }
}

.apps-page main {
  position: relative;
  display: block;
  background-color: #f5f6f3;
  min-height: calc(100vh - 72px);
 // padding-left: 501px;

  &::before {
    content: "Кружок";
    display: block;
    position: absolute;
    min-width: 497px;
    min-height: 497px;
    width: 71.591vh;
    height: 71.591vh;
    background-color: $color-orange;
    border: 1px solid $color-orange;
    border-radius: 50%;
    position: absolute;
    top: -131px;
    left: -106px;
  }
  &::after {
    content: "";
    display : block;
    background-image: url("../img/content/hand.svg");
    width: 71.591vh;
    height: 71.591vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 89px;
    left: 114px;
  }
  

  & > .content {
    max-width: 385px;
    margin-left: auto;
    margin-top: 106px;
    margin-right: 16vw;

    & > h1 {
      font-size: 32px;
      line-height: 41px;
      font-weight: 700;
      color: $color-black;
  
    }

    & > p { 
      font-weight: 300;
     font-size: 16px;
     line-height: 24px;
     color: $color-black-light;
    }

    & > h1 + p {
      margin-top: 17px;

    }
     & > p + download-container {
       margin-top: 30px;
     }
  }
}

download-container {
  display: flex;
  .google-play, .app-store {
    display: block;
    width: 150px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .google-play {
        background-image: url("../img/content/google-play.svg");
    
      }
  .app-store {
        
        background-image: url("../img/content/app-store.svg");
        

}
a + a {
  margin-left: 10.3px;

}
}
