@import "helpers/_postcss-reset.scss";
@import "helpers/_variables.scss";
@import "helpers/_base.scss";

body {
  background-color: #ededed;
  font-family: "PT Sans", sans-serif;
}

header-logo {
  display: block;
  width: 119px;
  height: 52px;
  background-image: url("../img/content/logo.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  @media(max-width: 767px){
    width: 88px;
    height: 40px;
  }
}
header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  min-height: 84px;
  padding: 15px 15px 15px 20px;
  @media(max-width: 767px){
    padding-right: 65px;
  }
  #show-search{
    display: none;
  }
  #show-search:checked ~ label.show-search{
    z-index: 3;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJDYXBhXzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQxMy4zNDggNDEzLjM0OCIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA0MTMuMzQ4IDQxMy4zNDgiIHdpZHRoPSI1MTIiPjxnPjxwYXRoIGQ9Im00MTMuMzQ4IDI0LjM1NC0yNC4zNTQtMjQuMzU0LTE4Mi4zMiAxODIuMzItMTgyLjMyLTE4Mi4zMi0yNC4zNTQgMjQuMzU0IDE4Mi4zMiAxODIuMzItMTgyLjMyIDE4Mi4zMiAyNC4zNTQgMjQuMzU0IDE4Mi4zMi0xODIuMzIgMTgyLjMyIDE4Mi4zMiAyNC4zNTQtMjQuMzU0LTE4Mi4zMi0xODIuMzJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGOUE1MUEiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    }

  #show-search:checked ~ form.search-form{
    @media(max-width: 768px) {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      background-color: #fff;
      z-index: 2;
      & > input {
        border-radius: 0;
      }

      &::after {
        display: none;
      }
    }
  }

}

main, footer{
  display: none;
}

.adress {
  display: flex;
  align-items: center;
@media(max-width:767px){
  display: none;
}
  p {
    width: 59px;
  }
}

.adress,
.time,
.entrance {
  display: flex;
  align-items: center;

  p,
  a {
    font-size: 14px;
    color: #4a4a4a;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../img/content/line1.png");
    background-repeat: no-repeat;
    height: 34px;
    width: 1px;
  }
}
.adress,
.entrance,
.basket {
  p,
  a {
    margin-left: 10px;
    margin-right: 15px;
  }
}
label.show-search{
  position: relative;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background: url(../img/content/shape.png);
  background-repeat: no-repeat;
  background-position: 50%;
  @media(min-width: 768px){
    display: none;
  }
}
form.search-form {
  @media(max-width: 767px){
    display: none;
  }
  @media(min-width: 768px) {
    position: relative;
    width: 20vw;
    max-width: 200px;
    margin-left: auto;
  }
  .search {
    width: 100%;
    height: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding-right: 43px;
    padding-left: 15px;

  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/content/shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

}

.time {

  @media (max-width: 767px) {
    display: none;
  }
  & > p {
    padding-right: 8px;
  }
}

.entrance{
  img{
    padding: 5px 5px 5px 0;
  }
  @media(max-width: 767px) {
    p{
    display: none;
    }
    &::after{
      display: none;
    }
  }
}
.basket{
  display: flex;
  justify-content: center;
  img{
    width: 30px;
    height: 30px;
  }
  p{
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    p{
      display: none;
    }
  }
}
header-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
  color: #4a4a4a;
  padding: 0 20px 0;
  @media(max-width: 767px){
    padding: 0;
  }
}


header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 135px;
  background-color: white;
}
.telephone {
  display: flex;
  padding-left: 10px;
  color: #ffffff;

  & > a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    //justify-content: space-between;
  }
  & > a > p {
  color: #fff;
    padding-left: 10px;
  }
  @media(max-width:767px){
    order: 1;
    & > a {
      display: flex;
      color: #fff;
      &>img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }


  }
  @media(min-width:768px) {

    & + .call {
      // margin-left: 13px;
      margin-left: 1.27vw;
    }
  }
  @media(max-width:889px){
    & > a > p{
      display: none;
    }
  }
}
header-bottom {
  background-color: #4a4a4a;
  text-align: center;
  color: #f9a61a;
  width: 100%;
  align-items: center;

}
.header-menu-main{
  display: flex;
  a{
    color: #f9a61a;
  }
  @media(max-width:767px) {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: #4a4a4a;
    width: 100%;
    height: 100vh;
    & > div {
      display: block;
      width: 100%;
      font-size: 22px;
      line-height: 35px;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      &::after {
        content: none;
      }

      & br{
        display: none;
      }


    }
  }
  @media(min-width:768px){
    padding: 8px;
  }
}

.catalog {
  display: flex;
  position: relative;
  color: #ffffff;
  width: 256px;
  height: 100%;
  background-color: #f9a61a;
  align-items: center;
  margin-right: auto;
  padding: 0;
  @media(max-width: 767px){
    position: initial;
    width: 100%;
    height: 50px;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  @media(min-width: 768px){
    &:hover > ul.catalog-menu{
      display: block;
    }
  }
  #show-catalog-menu{
    display: none;


    @media(max-width: 767px){
    &:checked ~ .show-catalog-menu{
        position: absolute;
        top: 0;
        z-index: 2;
        color: rebeccapurple;
        height: 40px;
        width: 100%;
        text-align: left;
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: #e2e2e2;
      }
    &:checked + .show-catalog-menu>.label-show-catalog-menu {
      color: #4a4a4a;
      pointer-events: none;
    }
      &:checked ~ ul.catalog-menu{
        display: block;
      }

      &:checked + .show-catalog-menu > .label-close-catalog-menu{
        display: block;
        width: 35px;
        height: 35px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJDYXBhXzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQxMy4zNDggNDEzLjM0OCIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA0MTMuMzQ4IDQxMy4zNDgiIHdpZHRoPSI1MTIiPjxnPjxwYXRoIGQ9Im00MTMuMzQ4IDI0LjM1NC0yNC4zNTQtMjQuMzU0LTE4Mi4zMiAxODIuMzItMTgyLjMyLTE4Mi4zMi0yNC4zNTQgMjQuMzU0IDE4Mi4zMiAxODIuMzItMTgyLjMyIDE4Mi4zMiAyNC4zNTQgMjQuMzU0IDE4Mi4zMi0xODIuMzIgMTgyLjMyIDE4Mi4zMiAyNC4zNTQtMjQuMzU0LTE4Mi4zMi0xODIuMzJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGOUE1MUEiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
        background-size: contain;
        padding: 5px;
        background-origin: content-box;
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
      }

    }
  }

  .label-show-catalog-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 768px){
    background-image: url(/img/content/arrow.png);
      background-repeat: no-repeat;
      background-position: right 16px top 50%;
  }
  }
  ul.catalog-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: #fff;
    width: 100%;
    color: #4f4f4f;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
    z-index: 4;
    &>li{
      border-bottom: 1px solid #d6d6d6;
      padding: 10px;
      font-size: 16px;
    }
    @media(max-width:767px){
      height: 100vh;
      top: 40px;
    }
  }
  .show-catalog-menu {
    display: block;
    margin-right: auto;
    width: 100%;
    height: 100%;
    @media(max-width: 767px){
      margin: 0 auto;
    }
  }
  img{
    @media(max-width:767px){
      display: none;
    }
  }
}


#show-header-menu {
display: none;
  &:checked ~ .header-menu-main {
    display: none;
    @media(max-width: 767px) {
      display: flex;
      padding: 20px;
    }
  }
  &:checked ~ label{
    z-index: 2;
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGroup Copy%3C/title%3E%3Cg stroke='%23F9A61A' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cpath d='M1 1l16 16M17 1L1 17'/%3E%3C/g%3E%3C/svg%3E");
  }
  &:checked ~ .header-menu-main .telephone > a >p{
    display: block;
  }
}
.show-header-menu{
  display:none;
  @media(max-width: 767px) {
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 25 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg stroke='%23F9A61A' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cpath d='M1 1h22.5M1 10h22.5M1 19h22.5'/%3E%3C/g%3E%3C/svg%3E");
  }

}
.image {
  background-image: url("../img/content/bgimage.png");
  display: block;
  width: 100%;
  height: 410px;
  background-size: cover;
}
header-logo + form.search-form {
  // margin-left: 27px;
  margin-left: auto;
}
form.search-form + .adress {
  // margin-left: 36px;
  margin-left: 1.61vw;
}
.adress + .time {
  // margin-left: 22px;
  margin-left: 1.61vw;
}
.time + .entrance {
  // margin-left: 22px;
  padding-left: 1.65vw;
}
.entrance + .basket {
  // margin-left: 13px;
  margin-left: 0.976vw;
}
.for-buyers,
.delivery,
.call {
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    background-color: #979797;
    width: 1px;
    height: 34px;
  }
}
@media(min-width:768px) {
  .for-buyers {
    a {
      margin-right: 13px;
    }

    & + .delivery {
      // margin-leftt: 13px;
      margin-left: 1.27vw;
    }
  }

  .delivery {
    & + .telephone {
      // margin-left: 20px;
      margin-left: 1.954vw;
    }

    a {
      margin-right: 17px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .call {
    & + .choice {
      // margin-left: 30px;
      margin-left: 2.93vw;
    }

    a {
      margin-right: 20px;
    }
  }
}
section-items {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 24.2px;

  &.red {
    background: linear-gradient(180deg, #ef6577 50%, transparent 50%);
  }
  &.green {
    background: linear-gradient(180deg, #8ccaaa 50%, transparent 50%);
  }
  &.blue {
    background: linear-gradient(180deg, #6fb0dc 50%, transparent 50%);
  }
}

block-for-items {
  display: flex;
  width: 100%;
  justify-content: center;
}

item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 236px;
  background-color: #ffffff;
  transition: border-color 0.3s;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #e1e1e1;
  padding-left: 13px;
  padding-right: 16.7px;
  padding-top: 12px;
  padding-bottom: 39px;

  &:last-child {
    border-right: 1px solid #e1e1e1;
  }

  &:hover {
    border-color: white;

    & + item {
      border-left-color: white;
    }
  }

  & > .item-img,
  & > p,
  & > add-to-compare {
    width: 100%;
  }

  & > price,
  & > .buy {
    width: 50%;
  }

  & > price {
    display: inline-flex;
    flex-direction: column;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 57px;
      background-color: #d8d8d8;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  & > .buy {
    width: 101px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #f9a61a;
    background-color: #f9a61a;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: #f9a61a;
    }
  }

  & > add-to-compare {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      background-image: url("../img/content/flag.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 17px;
      height: 20px;
      margin-right: 10px;
    }

    p {
      font-size: 14px;
      color: #4a4a4a;
    }
  }

  & > .item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;

    img {
      display: block;
      width: 215px;
      height: 215px;
      object-fit: contain;
    }
    & + p {
      margin-top: 10px;
    }
  }

  & > p {
    height: 63px;
    font-size: 16px;
    color: #000000;

    & + add-to-compare {
      margin-top: 20px;
    }
  }
}

section-title {
  align-items: center;
  display: flex;

  & > h2 {
    font-size: 36px;
    color: white;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../img/content/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 50px;
    margin-left: 31px;
  }

  & + block-for-items {
    margin-top: 26px;
  }
}
section-with-widget {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 42px;
  padding-right: 42px;

  .text {
    background-color: white;
    width: 68.36vw;
    padding-left: 33px;
    padding-right: 59px;
    padding-bottom: 45.8px;
    padding-top: 41px;
    h2 {
      font-size: 24px;
      color: #4a4a4a;
      & + p {
        margin-top: 21px;
      }
    }

    p {
      font-size: 14px;
      color: #4a4a4a;
      line-height: 24px;
      & + p {
        margin-top: 25px;
      }
    }
  }

  .widget {
    background-color: white;
    width: 21.49vw;
  }
}
banner {
  margin-top: 20px;
  margin-left: 43px;
  margin-right: 43px;
  display: block;
  padding-top: 74px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 106px;
  h2 {
    font-size: 36px;
    & + p {
      margin-top: 17px;
    }
  }
  p {
    font-size: 20px;
  }
  &.pig {
    background-color: #f9a61a;
    color: white;
    background-image: url("../img/content/pig.svg");
    background-repeat: no-repeat;
    background-position: right 90px bottom;
    // background-position-y: bottom;
    // background-position-x: 62.11vw;
  }
}
footer {
  background-color: #4a4a4a;
  margin-top: 20px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 77px;
  padding-top: 68px;
}

.footer-body {
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  li {
    & + li {
      margin-top: 21px;
    }

    &:first-child {
      text-transform: uppercase;
    }
  }
  a {
    color: #b7b7b7;
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
}

footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;

  .developer {
    color: #b7b7b7;
    transition: color 0.3s;

    &:hover {
      color: white;
    }
  }

  .copyright {
    color: #b7b7b7;
  }
}

.footer-info-wrapper {
  callback + share-links {
    margin-top: 63px;
  }

  share-links {
    margin-left: 40px;
  }
}

callback {
  display: block;
  background-image: url("../img/content/tel.png");
  background-repeat: no-repeat;
  max-width: 215px;
  background-size: 26px 30px;
  padding-left: 40px;

  a {
    display: block;
    font-size: 24px;
    color: #b7b7b7;
    margin-bottom: 3px;
  }
  span {
    color: #9b9b9b;
    font-size: 14px;
    display: block;
  }
}

share-links {
  display: block;
  p {
    color: #b7b7b7;
    font-size: 21px;
    text-transform: uppercase;
    & + share-container {
      margin-top: 23px;
    }
  }
}

share-container {
  display: flex;
  max-width: 150px;
  flex-wrap: wrap;

  .link {
    display: flex;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-position: 50%;
    border: 2px solid #b7b7b7;
    border-radius: 50%;

    &:nth-child(3n + 2) {
      margin-left: 15px;
      margin-right: 15px;
    }

    &:not(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
      margin-bottom: 15px;
    }
  }

  .twitter {
    background-image: url("../img/content/twitter.svg");
  }
  .vk {
    background-image: url("../img/content/vk.svg");
  }
  .fb {
    background-image: url("../img/content/fb.svg");
  }
}

payment-container {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;

  .link {
    display: flex;
    background-repeat: no-repeat;
    width: calc((100% - 2*15px)/3);
    height: 40px;
    background-position: 50%;

    &:nth-child(3n + 2) {
      margin-left: 15px;
      margin-right: 15px;
    }

    &:not(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
      margin-bottom: 15px;
    }
  }
}
.mastercard {
  background-image: url("../img/content/mastercard.svg");
}
.visa {
  background-image: url("../img/content/visa.svg");
}

payment {
  p {
    color: #b7b7b7;
    font-size: 21px;
    text-transform: uppercase;
    & + payment-container {
      margin-top: 19.7px;
    }
  }
}
