@import "helpers/_postcss-reset.scss";
@import "helpers/_variables.scss";
@import "helpers/_base.scss";

body {
  background-color: #ededed;  
  font-family: "PT Sans", sans-serif;
}

header-logo {
  display: block;
  width: 119px;
  height: 52px;
  background-image: url("../img/content/logo.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  min-height: 84px;
  padding-top: 17px;
  padding-left: 45px;
  padding-bottom: 15px;
}

.adress {
  display: flex;
  align-items: center;

  p {
    width: 59px;
  }
}

.adress,
.time,
.entrance {
  display: flex;
  align-items: center;

  p,
  a {
    font-size: 14px;
    color: #4a4a4a;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../img/content/line1.png");
    background-repeat: no-repeat;
    height: 34px;
    width: 1px;
  }
}
.adress,
.entrance,
.basket {
  p,
  a {
    margin-left: 10px;
    margin-right: 15px;
  }
}

form {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/content/shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.search {
  width: 323.89px;
  height: 50px;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  padding-right: 30px;
  padding-left: 15px;
}
.time > p {
  margin-right: 30px;
}
header-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
  color: #4a4a4a;
  padding-left: 20px;
  padding-right: 0px;
}
header {
  min-height: 135px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}
.telephone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 10px;
  justify-content: space-between;
  & + .call {
    // margin-left: 13px;
    margin-left: 1.27vw;
  }
}
header-bottom {
  background-color: #4a4a4a;
  text-align: center;
  color: #f9a61a;
  width: 100%;
  align-items: center;

  & > * {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.telephone {
  color: #ffffff;
  align-items: center;
}
.catalog {
  display: flex;
  color: #ffffff;
  width: 256px;
  height: 100%;
  background-color: #f9a61a;
  align-items: center;
  margin-right: auto;
  padding-left: 46px;
  padding-right: 16px;

  a {
    margin-right: auto;
  }
}
.image {
  background-image: url("../img/content/bgimage.png");
  display: block;
  width: 100%;
  height: 410px;
  background-size: cover;
}
header-logo + form {
  // margin-left: 27px;
  margin-left: 2.028vw;
}
form + .adress {
  // margin-left: 36px;
  margin-left: auto;
}
.adress + .time {
  // margin-left: 22px;
  margin-left: 1.61vw;
}
.time + .entrance {
  // margin-left: 22px;
  margin-left: 1.65vw;
}
.entrance + .basket {
  // margin-left: 13px;
  margin-left: 0.976vw;
}
.for-buyers,
.delivery,
.call {
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    background-color: #979797;
    width: 1px;
    height: 34px;
  }
}
.for-buyers {
  a {
    margin-right: 13px;
  }

  & + .delivery {
    // margin-leftt: 13px;
    margin-left: 1.27vw;
  }
}
.delivery {
  & + .telephone {
    // margin-left: 20px;
    margin-left: 1.954vw;
  }
  a {
    margin-right: 17px;

    &:hover {
      text-decoration: underline;
    }
  }
}
.call {
  & + .choice {
    // margin-left: 30px;
    margin-left: 2.93vw;
  }
  a {
    margin-right: 20px;
  }
}

section-items {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 24.2px;

  &.red {
    background: linear-gradient(180deg, #ef6577 50%, transparent 50%);
  }
  &.green {
    background: linear-gradient(180deg, #8ccaaa 50%, transparent 50%);
  }
  &.blue {
    background: linear-gradient(180deg, #6fb0dc 50%, transparent 50%);
  }
}

block-for-items {
  display: flex;
  width: 100%;
  justify-content: center;
}

item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 236px;
  background-color: #ffffff;
  transition: border-color 0.3s;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #e1e1e1;
  padding-left: 13px;
  padding-right: 16.7px;
  padding-top: 12px;
  padding-bottom: 39px;

  &:last-child {
    border-right: 1px solid #e1e1e1;
  }

  &:hover {
    border-color: white;

    & + item {
      border-left-color: white;
    }
  }

  & > .item-img,
  & > p,
  & > add-to-compare {
    width: 100%;
  }

  & > price,
  & > .buy {
    width: 50%;
  }

  & > price {
    display: inline-flex;
    flex-direction: column;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 57px;
      background-color: #d8d8d8;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  & > .buy {
    width: 101px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #f9a61a;
    background-color: #f9a61a;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: #f9a61a;
    }
  }

  & > add-to-compare {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      background-image: url("../img/content/flag.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 17px;
      height: 20px;
      margin-right: 10px;
    }

    p {
      font-size: 14px;
      color: #4a4a4a;
    }
  }

  & > .item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;

    img {
      display: block;
      width: 215px;
      height: 215px;
      object-fit: contain;
    }
    & + p {
      margin-top: 10px;
    }
  }

  & > p {
    height: 63px;
    font-size: 16px;
    color: #000000;

    & + add-to-compare {
      margin-top: 20px;
    }
  }
}

section-title {
  align-items: center;
  display: flex;

  & > h2 {
    font-size: 36px;
    color: white;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../img/content/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 50px;
    margin-left: 31px;
  }

  & + block-for-items {
    margin-top: 26px;
  }
}
section-with-widget {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 42px;
  padding-right: 42px;

  .text {
    background-color: white;
    width: 68.36vw;
    padding-left: 33px;
    padding-right: 59px;
    padding-bottom: 45.8px;
    padding-top: 41px;
    h2 {
      font-size: 24px;
      color: #4a4a4a;
      & + p {
        margin-top: 21px;
      }
    }

    p {
      font-size: 14px;
      color: #4a4a4a;
      line-height: 24px;
      & + p {
        margin-top: 25px;
      }
    }
  }

  .widget {
    background-color: white;
    width: 21.49vw;
  }
}
banner {
  margin-top: 20px;
  margin-left: 43px;
  margin-right: 43px;
  display: block;
  padding-top: 74px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 106px;
  h2 {
    font-size: 36px;
    & + p {
      margin-top: 17px;
    }
  }
  p {
    font-size: 20px;
  }
  &.pig {
    background-color: #f9a61a;
    color: white;
    background-image: url("../img/content/pig.svg");
    background-repeat: no-repeat;
    background-position: right 90px bottom;
    // background-position-y: bottom;
    // background-position-x: 62.11vw;
  }
}
footer {
  background-color: #4a4a4a;
  margin-top: 20px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 77px;
  padding-top: 68px;
}

.footer-body {
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  li {
    & + li {
      margin-top: 21px;
    }

    &:first-child {
      text-transform: uppercase;
    }
  }
  a {
    color: #b7b7b7;
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
}

footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;

  .developer {
    color: #b7b7b7;
    transition: color 0.3s;

    &:hover {
      color: white;
    }
  }

  .copyright {
    color: #b7b7b7;
  }
}

.footer-info-wrapper {
  callback + share-links {
    margin-top: 63px;
  }

  share-links {
    margin-left: 40px;
  }
}

callback {
  display: block;
  background-image: url("../img/content/tel.png");
  background-repeat: no-repeat;
  max-width: 215px;
  background-size: 26px 30px;
  padding-left: 40px;

  a {
    display: block;
    font-size: 24px;
    color: #b7b7b7;
    margin-bottom: 3px;
  }
  span {
    color: #9b9b9b;
    font-size: 14px;
    display: block;
  }
}

share-links {
  display: block;
  p {
    color: #b7b7b7;
    font-size: 21px;
    text-transform: uppercase;
    & + share-container {
      margin-top: 23px;
    }
  }
}

share-container {
  display: flex;
  max-width: 150px;
  flex-wrap: wrap;

  .link {
    display: flex;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-position: 50%;
    border: 2px solid #b7b7b7;
    border-radius: 50%;

    &:nth-child(3n + 2) {
      margin-left: 15px;
      margin-right: 15px;
    }

    &:not(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
      margin-bottom: 15px;
    }
  }

  .twitter {
    background-image: url("../img/content/twitter.svg");
  }
  .vk {
    background-image: url("../img/content/vk.svg");
  }
  .fb {
    background-image: url("../img/content/fb.svg");
  }
}

payment-container {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;

  .link {
    display: flex;
    background-repeat: no-repeat;
    width: calc((100% - 2*15px)/3);
    height: 40px;
    background-position: 50%;

    &:nth-child(3n + 2) {
      margin-left: 15px;
      margin-right: 15px;
    }

    &:not(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
      margin-bottom: 15px;
    }
  }
}
.mastercard {
  background-image: url("../img/content/mastercard.svg");
}
.visa {
  background-image: url("../img/content/visa.svg");
}

payment {
  p {
    color: #b7b7b7;
    font-size: 21px;
    text-transform: uppercase;
    & + payment-container {
      margin-top: 19.7px;
    }
  }
}
