.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 135px;
  background-color: white;

  header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    min-height: 84px;
    padding: 15px 15px 15px 20px;

    @media(max-width: 767px) {
      padding-right: 65px;
    }

    header-logo {
      display: block;
      width: 88px;
      height: 40px;
      background-image: url("../img/content/logo.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;

      @media(min-width: 768px) {
        width: 119px;
        height: 52px;
      }

      & + form.search-form {
        margin-left: auto;
      }
    }

    #show-search {
      display: none;

      &:checked {
        & ~ label.show-search {
          z-index: 3;
          position: absolute;
          top: 10px;
          right: 10px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJDYXBhXzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQxMy4zNDggNDEzLjM0OCIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA0MTMuMzQ4IDQxMy4zNDgiIHdpZHRoPSI1MTIiPjxnPjxwYXRoIGQ9Im00MTMuMzQ4IDI0LjM1NC0yNC4zNTQtMjQuMzU0LTE4Mi4zMiAxODIuMzItMTgyLjMyLTE4Mi4zMi0yNC4zNTQgMjQuMzU0IDE4Mi4zMiAxODIuMzItMTgyLjMyIDE4Mi4zMiAyNC4zNTQgMjQuMzU0IDE4Mi4zMi0xODIuMzIgMTgyLjMyIDE4Mi4zMiAyNC4zNTQtMjQuMzU0LTE4Mi4zMi0xODIuMzJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGOUE1MUEiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
          background-size: 25px;
          background-repeat: no-repeat;
          background-position: center;
        }

        & ~ form.search-form {
          @media(max-width: 768px) {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            background-color: #fff;
            z-index: 2;
            & > input {
              border-radius: 0;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }

    label.show-search {
      position: relative;
      width: 28px;
      height: 28px;
      margin-left: auto;
      background: url(../img/content/shape.png);
      background-repeat: no-repeat;
      background-position: 50%;

      @media(min-width: 768px) {
        display: none;
      }
    }

    form.search-form {
      @media(max-width: 767px) {
        display: none;
      }
      @media(min-width: 768px) {
        position: relative;
        width: 20vw;
        max-width: 200px;
        margin-left: auto;
        margin-right: 1.3vw;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("../img/content/shape.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      & + .adress {
        margin-left: 1.61vw;
      }

      .search {
        width: 100%;
        height: 50px;
        border: 1px solid #e1e1e1;
        border-radius: 30px;
        padding-right: 43px;
        padding-left: 15px;

      }
    }

    .address {
      display: flex;
      align-items: center;
      @media(max-width: 767px) {
        display: none;
      }

      p {
        width: 59px;
      }
    }

    .time {
      @media (max-width: 767px) {
        display: none;
      }

      & > p {
        padding-right: 8px;
      }
    }

    .entrance {
      img {
        padding: 5px 5px 5px 0;
      }

      @media(max-width: 767px) {
        p {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }

    .basket {
      display: flex;
      justify-content: center;

      img {
        width: 30px;
        height: 30px;
      }

      p {
        display: flex;
        align-items: center;
      }

      @media (max-width: 767px) {
        p {
          display: none;
        }
      }
    }

    .address + .time {
      margin-left: 1.61vw;
    }

    .time + .entrance {
      padding-left: 1.65vw;
    }

    .entrance + .basket {
      margin-left: 0.976vw;
    }

    .address,
    .time,
    .entrance {
      display: flex;
      align-items: center;

      p,
      a {
        font-size: 14px;
        color: #4a4a4a;
      }

      &::after {
        content: "";
        display: block;
        background-image: url("../img/content/line1.png");
        background-repeat: no-repeat;
        height: 34px;
        width: 1px;
      }
    }

    .address,
    .entrance,
    .basket {
      p,
      a {
        margin-left: 10px;
        margin-right: 15px;
      }
    }
  }

  header-bottom {
    background-color: #4a4a4a;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    color: #4a4a4a;
    padding: 0 20px 0;

    @media(max-width: 767px) {
      padding: 0;
    }

    .catalog {
      display: flex;
      position: relative;
      color: #ffffff;
      width: 256px;
      height: 100%;
      background-color: #f9a61a;
      align-items: center;
      margin-right: auto;
      padding: 0;
      @media(max-width: 767px) {
        position: initial;
        width: 100%;
        height: 50px;
        padding: 0;
        align-items: center;
        text-align: center;
      }
      @media(min-width: 768px) {
        &:hover > ul.catalog-menu {
          display: block;
        }
      }

      #show-catalog-menu {
        display: none;

        @media(max-width: 767px) {
          &:checked ~ .show-catalog-menu {
            position: absolute;
            top: 0;
            z-index: 2;
            color: rebeccapurple;
            height: 40px;
            width: 100%;
            text-align: left;
            padding: 10px;
            display: flex;
            align-items: center;
            background-color: #e2e2e2;
          }
          &:checked + .show-catalog-menu > .label-show-catalog-menu {
            color: #4a4a4a;
            pointer-events: none;
          }
          &:checked ~ ul.catalog-menu {
            display: block;
          }

          &:checked + .show-catalog-menu > .label-close-catalog-menu {
            display: block;
            width: 35px;
            height: 35px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJDYXBhXzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQxMy4zNDggNDEzLjM0OCIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA0MTMuMzQ4IDQxMy4zNDgiIHdpZHRoPSI1MTIiPjxnPjxwYXRoIGQ9Im00MTMuMzQ4IDI0LjM1NC0yNC4zNTQtMjQuMzU0LTE4Mi4zMiAxODIuMzItMTgyLjMyLTE4Mi4zMi0yNC4zNTQgMjQuMzU0IDE4Mi4zMiAxODIuMzItMTgyLjMyIDE4Mi4zMiAyNC4zNTQgMjQuMzU0IDE4Mi4zMi0xODIuMzIgMTgyLjMyIDE4Mi4zMiAyNC4zNTQtMjQuMzU0LTE4Mi4zMi0xODIuMzJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGOUE1MUEiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
            background-size: contain;
            padding: 5px;
            background-origin: content-box;
            background-repeat: no-repeat;
            position: absolute;
            right: 20px;
          }

        }
      }

      .show-catalog-menu {
        display: block;
        margin-right: auto;
        width: 100%;
        height: 100%;
        @media(max-width: 767px) {
          margin: 0 auto;
        }

        .label-show-catalog-menu {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media(min-width: 768px) {
            background-image: url(../img/content/arrow.png);
            background-repeat: no-repeat;
            background-position: right 16px top 50%;
          }
        }
      }

      ul.catalog-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: left;
        background-color: #fff;
        width: 100%;
        color: #4f4f4f;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
        z-index: 4;
        @media(max-width: 767px) {
          height: 100vh;
          top: 40px;
        }

        & > li {
          border-bottom: 1px solid #d6d6d6;
          padding: 10px;
          font-size: 16px;
        }
      }
    }

    #show-header-menu {
      display: none;

      &:checked ~ .header-menu-main {
        display: none;
        @media(max-width: 767px) {
          display: flex;
          padding: 20px;
        }
      }

      &:checked ~ label {
        z-index: 2;
        background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGroup Copy%3C/title%3E%3Cg stroke='%23F9A61A' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cpath d='M1 1l16 16M17 1L1 17'/%3E%3C/g%3E%3C/svg%3E");
      }

      &:checked ~ .header-menu-main .telephone > a > p {
        display: block;
      }
    }

    .show-header-menu {
      display: none;

      @media(max-width: 767px) {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 25 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg stroke='%23F9A61A' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cpath d='M1 1h22.5M1 10h22.5M1 19h22.5'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    .header-menu-main {
      display: flex;

      a {
        color: #f9a61a;
      }

      @media(max-width: 767px) {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        background-color: #4a4a4a;
        width: 100%;
        height: 100vh;
        & > div {
          display: block;
          width: 100%;
          font-size: 22px;
          line-height: 35px;
          text-align: left;
          padding-top: 10px;
          padding-bottom: 10px;

          &::after {
            content: none;
          }

          & br {
            display: none;
          }
        }
      }
      @media(min-width: $tablet) {
        padding: 8px;
        .for-buyers {
          a {
            margin-right: 13px;
          }

          & + .delivery {
            margin-left: 1.27vw;
          }
        }
        .delivery {
          & + .telephone {
            margin-left: 1.954vw;
          }

          a {
            margin-right: 17px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        .telephone {
          display: flex;
          padding-left: 10px;
          color: #ffffff;

          & > a {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            //justify-content: space-between;
          }

          & > a > p {
            color: #fff;
            padding-left: 10px;
          }

          @media(max-width: 767px) {
            order: 1;
            & > a {
              display: flex;
              color: #fff;

              & > img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
              }
            }


          }
          @media(min-width: 768px) {

            & + .call {
              // margin-left: 13px;
              margin-left: 1.27vw;
            }
          }
          @media(max-width: 889px) {
            & > a > p {
              display: none;
            }
          }
        }
        .call {
          & + .choice {
            margin-left: 2.93vw;
          }

          a {
            margin-right: 20px;
          }
        }
        .for-buyers,
        .delivery,
        .call {
          display: flex;
          align-items: center;

          &::after {
            content: "";
            display: block;
            background-color: #979797;
            width: 1px;
            height: 34px;
          }
        }
      }
    }
  }
}
